$color_0_0_0_01: rgba(0, 0, 0, 0.1);
$color_0_0_0_03: rgba(0, 0, 0, 0.3);
$color_0_0_0_05: rgba(0, 0, 0, 0.5);
$color_0_0_0_07: rgba(0, 0, 0, 0.7);
$color_0_0_0_1: rgba(0, 0, 0, 1);
$color_21_21_121_05: rgba(21, 21, 121, 0.5);
$color_78_84_200_01: rgba(78, 84, 200, 0.1);
$color_78_84_200_05: rgba(78, 84, 200, 0.5);
$color_78_84_200_09: rgba(78, 84, 200, 0.9);
$color_78_84_200_1: rgba(78, 84, 200, 1);
$color_143_148_251_01: rgba(143, 148, 251, 0.1);
$color_143_148_251_05: rgba(143, 148, 251, 0.5);
$color_143_148_251_09: rgba(143, 148, 251, 0.9);
$color_143_148_251_1: rgba(143, 148, 251, 1);
$color_255_200_0_05: rgba(255, 200, 0, 0.5);
$color_255_200_0_07: rgba(255, 200, 0, 0.7);
$color_255_200_0_1: rgba(255, 200, 0, 1);
$color_255_255_0_05: rgba(255, 255, 0, 0.5);
$color_255_255_0_1: rgba(255, 255, 0, 1);
$color_255_255_255_03: rgba(255, 255, 255, 0.3);
$color_255_255_255_1: rgba(255, 255, 255, 1);